
body {

  font-family: helvetica;

  color: #43657F;

  width: 100%;

}

.container1 {} img.logo {

  width: 90%;

  margin: auto;

}
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
  width: 90%;
  text-align: center;
  margin-left: -25px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: white;
}
li:hover {
  background-color: #dfddea;
}
a {
  text-decoration: none;
}
.box {
  background: #25627F;
  min-width: 365px;
  height: 200px;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  position: relative;
}
.container2 {
  display: block;
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 5%
}
iframe {
  display: none;
  border: 20px solid #25627F;
  box-shadow: 10px 10px 50px black;
}
#signup {
  width: 90%;
  height: 540px;
  margin: 5px auto;
  display: block;
}
h1.frontpage {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  bottom: 30px;
  left: 5%;
}
h1 {
  padding-left: 10px;
  color: white !important;
  text-shadow: 3px 5px 1px black;
}
img.bottom-images {
  display: inline-block;
  width: 50%;
}
button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
button:hover {
  box-shadow: 1px 1px 10px red;
}
section.bottom-section {
  display: block;
}
.boxphoto {
  vertical-align: top;
  background-color: #f5f5f5;
  text-align: center;
  width: 90%;
  height: 300px;
  margin: 5px auto;
}
.boxphoto p {
  font-size: 25px;
}
.sign-up-wrapper {
  width: 100%;
  height: 600px;
  background: #25627F;
  float: left;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  text-align: center;
}
#footer-wrapper {
  width: 100%;
  clear: both;
  text-align: center;
  height: 50px;
}
#footer {
  font-size: 20px;
  padding-top: 25px;
}

.expandingNavList{
  color:red;
}

.hiddenList {
  color:red; 
  display:none;
}

#hiddenList li:first-child{
  margin-top:25px; 
    display:block;
}

#hiddenList li {
  display: block;
  width: 100%;
  text-align: center;
  margin-left: -25px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: white;
}