
body {

  font-family: helvetica;

  color: #43657F;

  width: 100%;

}

.container1 {

  width: 100%;

  display: inline-block;

  text-align: center;

}

img.logo {

  float: left;

  width: 50%;

}
}
ul {
  list-style: none;
}
li {
  display: block;
  float: right;
  margin: 1px 6% 1px 1px;
  width: 25%;
  font-weight: bold;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: white;
}
li:hover {
  background-color: #dfddea;
}
a {
  text-decoration: none;
}
.box {
  background: #25627F;
  width: 100%;
  height: 420px;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  position: relative;
  clear: both;
}
.container2 {
  width: 45%;
  height: auto;
  margin: 0 0 0 2.5%;
}
iframe {
  border: 20px solid #25627F;
  box-shadow: 10px 10px 50px black;
  position: absolute;
  top: 6%;
  right: 6%;
  width: 40%;
}
#signup {
  position: static;
  height: 525px;
  width: 90%;
  margin-top: 1%;
}
h1.frontpage {
  margin-left: 20px;
  font-size: 35px;
  width: auto;
  margin-top: 120px;
  font-weight: 900;
  line-height: 1.2em;
  color: black;
}
h1 {
  padding-left: 10px;
  color: white !important;
  text-shadow: 3px 5px 1px black;
}
img.bottom-images {
  width: 200px;
  height: auto;
}
button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
button:hover {
  box-shadow: 1px 1px 10px red;
}
section.bottom-section {
  text-align: center;
}
.boxphoto {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  background-color: #f5f5f5;
  margin: 0 10px;
  height: auto;
  overflow: auto;
}
.boxphoto p {
  font-size: 25px;
  clear: left;
  text-align: left;
  padding-left: 1em;
}
.sign-up-wrapper {
  width: 100%;
  height: 600px;
  background: #25627F;
  float: left;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  text-align: center;
}
#footer-wrapper {
  width: 100%;
  clear: both;
  text-align: center;
  height: 50px;
}
#footer {
  font-size: 20px;
  padding-top: 25px;
}


.expandingNavList{
  color:blue;
  float:right;
  clear:right;

}

ul.hiddenList {
  color:grey; 
  display:none;
    width:1100px;
}

#hiddenList li:first-child{
  margin-top:25px; 
}

#hiddenList li {
  clear:both;
  display: block;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: white;
 

}
